@font-face {
  font-family: 'Italian';
  font-weight: 400;
  src:  url('~@/assets/fonts/Italian/Italian Plate No1 Expanded.ttf');
}
@font-face {
  font-family: 'Italian';
  font-weight: 500;
  src:  url('~@/assets/fonts/Italian/Italian Plate No1 Expanded Medium.ttf');
}
@font-face {
  font-family: 'Italian';
  font-weight: 600;
  src:  url('~@/assets/fonts/Italian/Italian Plate No1 Expanded Demibold.ttf');
}
@font-face {
  font-family: 'Italian';
  font-weight: 700;
  src:  url('~@/assets/fonts/Italian/Italian Plate No1 Expanded Bold.ttf');
}
@font-face {
  font-family: 'Italian';
  font-weight: 800;
  src:  url('~@/assets/fonts/Italian/Italian Plate No1 Expanded Extrabold.ttf');
}
@font-face {
  font-family: 'Italian';
  font-weight: 900;
  src:  url('~@/assets/fonts/Italian/Italian Plate No1 Expanded Black.ttf');
}
@font-face {
  font-family: 'Söhne Buch';
  src:  url('~@/assets/fonts/Söhne/Söhne-Buch.ttf'),
        url('~@/assets/fonts/Söhne/Söhne-Buch.otf');
}
@font-face {
  font-family: 'Söhne Kräftig';
  src:  url('~@/assets/fonts/Söhne/Söhne-Kräftig.ttf'),
        url('~@/assets/fonts/Söhne/Söhne-Kräftig.otf');
}
@font-face {
  font-family: 'SöhneMono Buch';
  src:  url('~@/assets/fonts/Söhne/SöhneMono-Buch.ttf'),
        url('~@/assets/fonts/Söhne/SöhneMono-Buch.otf');
}
@font-face {
  font-family: 'SöhneMono Kräftig';
  src:  url('~@/assets/fonts/Söhne/SöhneMono-Kräftig.ttf'),
        url('~@/assets/fonts/Söhne/SöhneMono-Kräftig.otf');
}
