$orange: #f90;
$white: #fff;
$white2: #e0e0e0;
$mainBlack1: #000000;
$mainBlack2: #0d0d0d;
$darkGrey1: #121212;
$darkGrey2: #141414;
$darkGrey3: #171717;
$darkGrey4: #292929;
$darkGrey5: #171717eb;
$darkGrey6: #050505;
$grey1: #525252;
$grey2: #b8b8b8;
$grey3: #7a7a7a;
