$base-font-size:    12px;
$base-line-height:  16px;
$sidebar-width: 266px;
$content-width: 1366px;
$max-width-mobile: 620px;
$min-width-tablet: 621px;
$max-width-tablet: 1279px;
$alpha-form-width: 470px;
// 1366
